.radioButtons{
  display: grid;
  grid-template-rows: auto auto auto auto;
  row-gap: 0.5em;
  border: 1px solid lightgray;
  border-radius: 1em;
  padding: 0.5em;
}

.box{
  padding: 1em;
  display: grid;
  grid-template-rows: auto auto auto;
  row-gap: 0.5em;
  width: 30vw;
}

.result{
  border: 1px solid lightgray;
  padding: 0.5em;
  border-radius: 1em;
}

.lable1{
  font-size: 1.5em;
  font-weight: bold;
}

.lable2{
  font-size: 1em;
  font-weight: bold;
}

h1, .lable1{
  color: rgb(78, 78, 203);
}